BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
LOCATE COMP "Acs" SITE "114" ;
LOCATE COMP "Adin" SITE "117" ;
LOCATE COMP "Adout" SITE "113" ;
LOCATE COMP "Asck" SITE "115" ;
LOCATE COMP "Dclk" SITE "125" ;
LOCATE COMP "Ddin" SITE "122" ;
LOCATE COMP "Ddout" SITE "126" ;
LOCATE COMP "Dlatch" SITE "121" ;
LOCATE COMP "xAcs" SITE "58" ;
LOCATE COMP "xAdin" SITE "57" ;
LOCATE COMP "xAdout" SITE "60" ;
LOCATE COMP "xAsck" SITE "59" ;
LOCATE COMP "xDclk" SITE "55" ;
LOCATE COMP "xDdin" SITE "54" ;
LOCATE COMP "xDlatch" SITE "56" ;
LOCATE COMP "xDdout" SITE "52" ;
IOBUF PORT "xAcs" SLEWRATE=SLOW IO_TYPE=LVCMOS25 ;
LOCATE COMP "dac_out[1]" SITE "48" ;
LOCATE COMP "dac_out[2]" SITE "49" ;
LOCATE COMP "dac_out[3]" SITE "47" ;
LOCATE COMP "dac_out[4]" SITE "45" ;
LOCATE COMP "dac_out[5]" SITE "43" ;
LOCATE COMP "dac_out[6]" SITE "44" ;
LOCATE COMP "dac_out[7]" SITE "42" ;
LOCATE COMP "t_out" SITE "141" ;
LOCATE COMP "kreset" SITE "142" ;
IOBUF PORT "kreset" PULLMODE=UP IO_TYPE=LVCMOS25 ;
LOCATE COMP "dac_out[0]" SITE "50" ;
LOCATE COMP "leds[0]" SITE "97" ;
LOCATE COMP "leds[1]" SITE "98" ;
LOCATE COMP "leds[2]" SITE "99" ;
LOCATE COMP "leds[3]" SITE "100" ;
LOCATE COMP "leds[4]" SITE "104" ;
LOCATE COMP "leds[5]" SITE "105" ;
LOCATE COMP "leds[6]" SITE "106" ;
LOCATE COMP "leds[7]" SITE "107" ;
LOCATE COMP "dac_clk" SITE "140" ;
LOCATE COMP "ka_in[0]" SITE "74" ;
LOCATE COMP "ka_in[1]" SITE "73" ;
LOCATE COMP "ka_in[2]" SITE "76" ;
LOCATE COMP "ka_in[3]" SITE "75" ;
LOCATE COMP "ka_in[4]" SITE "78" ;
LOCATE COMP "ka_in[5]" SITE "77" ;
LOCATE COMP "ka_in[6]" SITE "82" ;
LOCATE COMP "ka_in[7]" SITE "81" ;
LOCATE COMP "ka_in[8]" SITE "84" ;
LOCATE COMP "ka_in[9]" SITE "83" ;
LOCATE COMP "ka_in[10]" SITE "86" ;
LOCATE COMP "ka_in[11]" SITE "85" ;
LOCATE COMP "ka_in[12]" SITE "92" ;
LOCATE COMP "ka_in[13]" SITE "91" ;
LOCATE COMP "ka_in[14]" SITE "94" ;
LOCATE COMP "ka_in[15]" SITE "93" ;
IOBUF PORT "ka_in[0]" PULLMODE=UP IO_TYPE=LVCMOS25 ;
IOBUF PORT "ka_in[1]" PULLMODE=UP IO_TYPE=LVCMOS25 ;
IOBUF PORT "ka_in[2]" PULLMODE=UP IO_TYPE=LVCMOS25 ;
IOBUF PORT "ka_in[3]" PULLMODE=UP IO_TYPE=LVCMOS25 ;
IOBUF PORT "ka_in[4]" PULLMODE=UP IO_TYPE=LVCMOS25 ;
IOBUF PORT "ka_in[5]" PULLMODE=UP IO_TYPE=LVCMOS25 ;
IOBUF PORT "ka_in[6]" PULLMODE=UP IO_TYPE=LVCMOS25 ;
IOBUF PORT "ka_in[7]" PULLMODE=UP IO_TYPE=LVCMOS25 ;
IOBUF PORT "ka_in[8]" PULLMODE=UP IO_TYPE=LVCMOS25 ;
IOBUF PORT "ka_in[9]" PULLMODE=UP IO_TYPE=LVCMOS25 ;
IOBUF PORT "ka_in[10]" PULLMODE=UP IO_TYPE=LVCMOS25 ;
IOBUF PORT "ka_in[11]" PULLMODE=UP IO_TYPE=LVCMOS25 ;
IOBUF PORT "ka_in[12]" PULLMODE=UP IO_TYPE=LVCMOS25 ;
IOBUF PORT "ka_in[13]" PULLMODE=UP IO_TYPE=LVCMOS25 ;
IOBUF PORT "ka_in[14]" PULLMODE=UP IO_TYPE=LVCMOS25 ;
IOBUF PORT "ka_in[15]" PULLMODE=UP IO_TYPE=LVCMOS25 ;
