BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
IOBUF PORT "kreset" PULLMODE=UP IO_TYPE=LVCMOS33 ;
IOBUF PORT "ka_in[0]" PULLMODE=UP IO_TYPE=LVCMOS33 ;
IOBUF PORT "ka_in[1]" PULLMODE=UP IO_TYPE=LVCMOS33 ;
IOBUF PORT "ka_in[2]" PULLMODE=UP IO_TYPE=LVCMOS33 ;
IOBUF PORT "ka_in[3]" PULLMODE=UP IO_TYPE=LVCMOS33 ;
IOBUF PORT "ka_in[4]" PULLMODE=UP IO_TYPE=LVCMOS33 ;
IOBUF PORT "ka_in[5]" PULLMODE=UP IO_TYPE=LVCMOS33 ;
IOBUF PORT "ka_in[6]" PULLMODE=UP IO_TYPE=LVCMOS33 ;
IOBUF PORT "ka_in[7]" PULLMODE=UP IO_TYPE=LVCMOS33 ;
IOBUF PORT "ka_in[8]" PULLMODE=UP IO_TYPE=LVCMOS33 ;
IOBUF PORT "ka_in[9]" PULLMODE=UP IO_TYPE=LVCMOS33 ;
IOBUF PORT "ka_in[10]" PULLMODE=UP IO_TYPE=LVCMOS33 ;
IOBUF PORT "ka_in[11]" PULLMODE=UP IO_TYPE=LVCMOS33 ;
IOBUF PORT "ka_in[12]" PULLMODE=UP IO_TYPE=LVCMOS33 ;
IOBUF PORT "ka_in[13]" PULLMODE=UP IO_TYPE=LVCMOS33 ;
IOBUF PORT "ka_in[14]" PULLMODE=UP IO_TYPE=LVCMOS33 ;
IOBUF PORT "ka_in[15]" PULLMODE=UP IO_TYPE=LVCMOS33 ;
IOBUF PORT "kdata_io[0]" IO_TYPE=LVCMOS33 SLEWRATE=SLOW DRIVE=12 PULLMODE=UP CLAMP=OFF ;
IOBUF PORT "Dclk" IO_TYPE=LVCMOS33 ;
IOBUF PORT "Ddout" IO_TYPE=LVCMOS33 ;
IOBUF PORT "Dlatch" IO_TYPE=LVCMOS33 ;
IOBUF PORT "k_clk" IO_TYPE=LVCMOS33 PULLMODE=UP HYSTERESIS=LARGE ;
IOBUF PORT "k_in[0]" IO_TYPE=LVCMOS33 PULLMODE=UP ;
IOBUF PORT "k_in[1]" IO_TYPE=LVCMOS33 PULLMODE=UP ;
IOBUF PORT "k_in[2]" IO_TYPE=LVCMOS33 PULLMODE=UP ;
IOBUF PORT "k_in[3]" IO_TYPE=LVCMOS33 PULLMODE=UP ;
IOBUF PORT "k_in[4]" IO_TYPE=LVCMOS33 PULLMODE=UP ;
IOBUF PORT "k_in[5]" IO_TYPE=LVCMOS33 PULLMODE=UP ;
IOBUF PORT "k_in[6]" IO_TYPE=LVCMOS33 PULLMODE=UP ;
IOBUF PORT "k_in[7]" IO_TYPE=LVCMOS33 PULLMODE=UP ;
IOBUF PORT "start_in" IO_TYPE=LVCMOS33 ;
IOBUF PORT "Ddin" IO_TYPE=LVCMOS33 ;
IOBUF PORT "dac_clk" IO_TYPE=LVCMOS33 ;
IOBUF PORT "dac_out[0]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "dac_out[1]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "dac_out[2]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "dac_out[3]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "dac_out[4]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "dac_out[5]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "dac_out[6]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "dac_out[7]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "k_out[0]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "k_out[1]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "k_out[2]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "k_out[3]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "k_out[4]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "k_out[5]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "k_out[6]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "k_out[7]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "k_out[8]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "k_out[9]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "k_out[10]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "k_out[11]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "k_out[12]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "k_out[13]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "k_out[14]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "k_out[15]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "ka_out[0]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "ka_out[1]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "ka_out[2]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "ka_out[3]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "ka_out[4]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "ka_out[5]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "ka_out[6]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "ka_out[7]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "ka_out[8]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "ka_out[9]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "ka_out[10]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "ka_out[11]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "ka_out[12]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "ka_out[13]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "ka_out[14]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "ka_out[15]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "kdata_io[1]" IO_TYPE=LVCMOS33 SLEWRATE=SLOW DRIVE=12 PULLMODE=UP CLAMP=OFF ;
IOBUF PORT "kdata_io[2]" IO_TYPE=LVCMOS33 SLEWRATE=SLOW DRIVE=12 PULLMODE=UP CLAMP=OFF ;
IOBUF PORT "kdata_io[3]" IO_TYPE=LVCMOS33 SLEWRATE=SLOW DRIVE=12 PULLMODE=UP CLAMP=OFF ;
IOBUF PORT "kdata_io[4]" IO_TYPE=LVCMOS33 SLEWRATE=SLOW DRIVE=12 PULLMODE=UP CLAMP=OFF ;
IOBUF PORT "kdata_io[5]" IO_TYPE=LVCMOS33 SLEWRATE=SLOW DRIVE=12 PULLMODE=UP CLAMP=OFF ;
IOBUF PORT "kdata_io[6]" IO_TYPE=LVCMOS33 SLEWRATE=SLOW DRIVE=12 PULLMODE=UP CLAMP=OFF ;
IOBUF PORT "kdata_io[7]" IO_TYPE=LVCMOS33 SLEWRATE=SLOW DRIVE=12 PULLMODE=UP CLAMP=OFF ;
IOBUF PORT "AinDout" IO_TYPE=LVCMOS33 ;
LOCATE COMP "kdata_io[0]" SITE "77" ;
LOCATE COMP "kdata_io[1]" SITE "78" ;
LOCATE COMP "kdata_io[2]" SITE "81" ;
LOCATE COMP "kdata_io[3]" SITE "82" ;
LOCATE COMP "kdata_io[4]" SITE "83" ;
LOCATE COMP "kdata_io[5]" SITE "84" ;
LOCATE COMP "kdata_io[6]" SITE "85" ;
LOCATE COMP "kdata_io[7]" SITE "86" ;
LOCATE COMP "start_in" SITE "92" ;
LOCATE COMP "k_clk" SITE "91" ;
LOCATE COMP "k_in[0]" SITE "132" ;
LOCATE COMP "k_in[1]" SITE "133" ;
LOCATE COMP "k_in[2]" SITE "138" ;
LOCATE COMP "k_in[3]" SITE "139" ;
LOCATE COMP "k_in[4]" SITE "140" ;
LOCATE COMP "k_in[5]" SITE "141" ;
LOCATE COMP "k_in[6]" SITE "142" ;
LOCATE COMP "k_in[7]" SITE "143" ;
LOCATE COMP "k_in[8]" SITE "111" ;
LOCATE COMP "k_in[9]" SITE "112" ;
LOCATE COMP "ka_out[15]" SITE "52" ;
LOCATE COMP "dac_out[0]" SITE "73" ;
LOCATE COMP "dac_out[1]" SITE "1" ;
LOCATE COMP "dac_out[4]" SITE "6" ;
LOCATE COMP "dac_out[5]" SITE "5" ;
LOCATE COMP "dac_out[6]" SITE "4" ;
LOCATE COMP "dac_out[7]" SITE "3" ;
LOCATE COMP "AinDoutBuff" SITE "106" ;
LOCATE COMP "kreset" SITE "94" ;
LOCATE COMP "Ddin" SITE "98" ;
LOCATE COMP "dac_clk" SITE "2" ;
LOCATE COMP "Dlatch" SITE "97" ;
LOCATE COMP "Dclk" SITE "95" ;
LOCATE COMP "AinDout" SITE "100" ;
LOCATE COMP "k_out[0]" SITE "50" ;
LOCATE COMP "k_out[1]" SITE "49" ;
LOCATE COMP "k_out[2]" SITE "48" ;
LOCATE COMP "k_out[3]" SITE "47" ;
LOCATE COMP "k_out[4]" SITE "45" ;
LOCATE COMP "k_out[5]" SITE "44" ;
LOCATE COMP "k_out[6]" SITE "43" ;
LOCATE COMP "k_out[7]" SITE "42" ;
LOCATE COMP "k_out[8]" SITE "41" ;
LOCATE COMP "k_out[9]" SITE "40" ;
LOCATE COMP "k_out[10]" SITE "39" ;
LOCATE COMP "k_out[11]" SITE "38" ;
LOCATE COMP "k_out[12]" SITE "35" ;
LOCATE COMP "k_out[13]" SITE "34" ;
LOCATE COMP "k_out[14]" SITE "33" ;
LOCATE COMP "k_out[15]" SITE "32" ;
LOCATE COMP "Ddout" SITE "96" ;
IOBUF PORT "AinDoutBuff" IO_TYPE=LVCMOS33 ;
IOBUF PORT "k_in[9]" IO_TYPE=LVCMOS33 PULLMODE=UP ;
IOBUF PORT "k_in[8]" IO_TYPE=LVCMOS33 PULLMODE=UP ;
LOCATE COMP "ka_out[14]" SITE "54" ;
LOCATE COMP "ka_out[13]" SITE "55" ;
LOCATE COMP "ka_out[12]" SITE "56" ;
LOCATE COMP "ka_out[11]" SITE "57" ;
LOCATE COMP "ka_out[10]" SITE "58" ;
LOCATE COMP "ka_out[9]" SITE "59" ;
LOCATE COMP "ka_out[8]" SITE "60" ;
LOCATE COMP "ka_out[7]" SITE "115" ;
LOCATE COMP "ka_out[6]" SITE "113" ;
LOCATE COMP "ka_out[5]" SITE "117" ;
LOCATE COMP "ka_out[4]" SITE "114" ;
LOCATE COMP "ka_out[3]" SITE "121" ;
LOCATE COMP "ka_out[2]" SITE "119" ;
LOCATE COMP "ka_out[1]" SITE "122" ;
LOCATE COMP "ka_out[0]" SITE "120" ;
LOCATE COMP "ka_in[0]" SITE "28" ;
LOCATE COMP "ka_in[1]" SITE "27" ;
LOCATE COMP "ka_in[2]" SITE "26" ;
LOCATE COMP "ka_in[3]" SITE "25" ;
LOCATE COMP "ka_in[4]" SITE "24" ;
LOCATE COMP "ka_in[5]" SITE "23" ;
LOCATE COMP "ka_in[6]" SITE "22" ;
LOCATE COMP "ka_in[7]" SITE "21" ;
LOCATE COMP "ka_in[8]" SITE "20" ;
LOCATE COMP "ka_in[9]" SITE "19" ;
LOCATE COMP "ka_in[10]" SITE "14" ;
LOCATE COMP "ka_in[15]" SITE "9" ;
LOCATE COMP "ka_in[14]" SITE "10" ;
LOCATE COMP "ka_in[13]" SITE "11" ;
LOCATE COMP "ka_in[12]" SITE "12" ;
LOCATE COMP "ka_in[11]" SITE "13" ;
LOCATE COMP "k_in[23]" SITE "71" ;
LOCATE COMP "k_in[22]" SITE "70" ;
LOCATE COMP "k_in[21]" SITE "69" ;
LOCATE COMP "k_in[20]" SITE "68" ;
LOCATE COMP "k_in[19]" SITE "67" ;
LOCATE COMP "k_in[18]" SITE "65" ;
LOCATE COMP "k_in[17]" SITE "62" ;
LOCATE COMP "k_in[16]" SITE "61" ;
IOBUF PORT "k_in[23]" IO_TYPE=LVCMOS33 PULLMODE=UP ;
IOBUF PORT "k_in[22]" IO_TYPE=LVCMOS33 PULLMODE=UP ;
IOBUF PORT "k_in[21]" IO_TYPE=LVCMOS33 PULLMODE=UP ;
IOBUF PORT "k_in[20]" IO_TYPE=LVCMOS33 PULLMODE=UP ;
IOBUF PORT "k_in[19]" IO_TYPE=LVCMOS33 PULLMODE=UP ;
IOBUF PORT "k_in[18]" IO_TYPE=LVCMOS33 PULLMODE=UP ;
IOBUF PORT "k_in[17]" IO_TYPE=LVCMOS33 PULLMODE=UP ;
IOBUF PORT "k_in[16]" PULLMODE=UP IO_TYPE=LVCMOS33 ;
IOBUF PORT "tp4" IO_TYPE=LVCMOS33 ;
IOBUF PORT "tp3" IO_TYPE=LVCMOS33 ;
LOCATE COMP "tp3" SITE "74" ;
LOCATE COMP "tp4" SITE "75" ;
