BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
LOCATE COMP "Dclk" SITE "121" ;
LOCATE COMP "Ddin" SITE "117" ;
LOCATE COMP "Ddout" SITE "122" ;
LOCATE COMP "Dlatch" SITE "115" ;
LOCATE COMP "dac_out[1]" SITE "35" ;
LOCATE COMP "dac_out[2]" SITE "32" ;
LOCATE COMP "dac_out[3]" SITE "33" ;
LOCATE COMP "dac_out[4]" SITE "27" ;
LOCATE COMP "dac_out[5]" SITE "28" ;
LOCATE COMP "dac_out[6]" SITE "25" ;
LOCATE COMP "dac_out[7]" SITE "26" ;
IOBUF PORT "kreset" PULLMODE=UP IO_TYPE=LVCMOS33 ;
LOCATE COMP "dac_out[0]" SITE "34" ;
LOCATE COMP "ka_in[0]" SITE "74" ;
LOCATE COMP "ka_in[1]" SITE "73" ;
LOCATE COMP "ka_in[2]" SITE "76" ;
LOCATE COMP "ka_in[3]" SITE "75" ;
LOCATE COMP "ka_in[4]" SITE "78" ;
LOCATE COMP "ka_in[5]" SITE "77" ;
LOCATE COMP "ka_in[6]" SITE "82" ;
LOCATE COMP "ka_in[7]" SITE "81" ;
LOCATE COMP "ka_in[8]" SITE "84" ;
LOCATE COMP "ka_in[9]" SITE "83" ;
LOCATE COMP "ka_in[10]" SITE "86" ;
LOCATE COMP "ka_in[11]" SITE "85" ;
LOCATE COMP "ka_in[12]" SITE "92" ;
LOCATE COMP "ka_in[13]" SITE "91" ;
LOCATE COMP "ka_in[14]" SITE "94" ;
LOCATE COMP "ka_in[15]" SITE "93" ;
IOBUF PORT "ka_in[0]" PULLMODE=UP IO_TYPE=LVCMOS33 ;
IOBUF PORT "ka_in[1]" PULLMODE=UP IO_TYPE=LVCMOS33 ;
IOBUF PORT "ka_in[2]" PULLMODE=UP IO_TYPE=LVCMOS33 ;
IOBUF PORT "ka_in[3]" PULLMODE=UP IO_TYPE=LVCMOS33 ;
IOBUF PORT "ka_in[4]" PULLMODE=UP IO_TYPE=LVCMOS33 ;
IOBUF PORT "ka_in[5]" PULLMODE=UP IO_TYPE=LVCMOS33 ;
IOBUF PORT "ka_in[6]" PULLMODE=UP IO_TYPE=LVCMOS33 ;
IOBUF PORT "ka_in[7]" PULLMODE=UP IO_TYPE=LVCMOS33 ;
IOBUF PORT "ka_in[8]" PULLMODE=UP IO_TYPE=LVCMOS33 ;
IOBUF PORT "ka_in[9]" PULLMODE=UP IO_TYPE=LVCMOS33 ;
IOBUF PORT "ka_in[10]" PULLMODE=UP IO_TYPE=LVCMOS33 ;
IOBUF PORT "ka_in[11]" PULLMODE=UP IO_TYPE=LVCMOS33 ;
IOBUF PORT "ka_in[12]" PULLMODE=UP IO_TYPE=LVCMOS33 ;
IOBUF PORT "ka_in[13]" PULLMODE=UP IO_TYPE=LVCMOS33 ;
IOBUF PORT "ka_in[14]" PULLMODE=UP IO_TYPE=LVCMOS33 ;
IOBUF PORT "ka_in[15]" PULLMODE=UP IO_TYPE=LVCMOS33 ;
LOCATE COMP "kdata_io[0]" SITE "143" ;
IOBUF PORT "kdata_io[0]" IO_TYPE=LVCMOS33 ;
LOCATE COMP "kdata_io[1]" SITE "142" ;
LOCATE COMP "kdata_io[2]" SITE "141" ;
LOCATE COMP "kdata_io[3]" SITE "140" ;
LOCATE COMP "kdata_io[4]" SITE "139" ;
LOCATE COMP "kdata_io[5]" SITE "138" ;
LOCATE COMP "kdata_io[6]" SITE "133" ;
LOCATE COMP "kdata_io[7]" SITE "132" ;
LOCATE COMP "start_in" SITE "125" ;
LOCATE COMP "k_clk" SITE "126" ;
LOCATE COMP "kreset" SITE "128" ;
LOCATE COMP "dac_clk" SITE "23" ;
IOBUF PORT "Dclk" IO_TYPE=LVCMOS33 ;
IOBUF PORT "Ddout" IO_TYPE=LVCMOS33 ;
IOBUF PORT "Dlatch" IO_TYPE=LVCMOS33 ;
IOBUF PORT "k_clk" IO_TYPE=LVCMOS33 ;
IOBUF PORT "k_in[0]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "k_in[1]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "k_in[2]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "k_in[3]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "k_in[4]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "k_in[5]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "k_in[6]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "k_in[7]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "start_in" IO_TYPE=LVCMOS33 ;
IOBUF PORT "Ddin" IO_TYPE=LVCMOS33 ;
IOBUF PORT "dac_clk" IO_TYPE=LVCMOS33 ;
IOBUF PORT "dac_out[0]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "dac_out[1]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "dac_out[2]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "dac_out[3]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "dac_out[4]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "dac_out[5]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "dac_out[6]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "dac_out[7]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "k_out[0]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "k_out[1]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "k_out[2]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "k_out[3]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "k_out[4]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "k_out[5]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "k_out[6]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "k_out[7]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "k_out[8]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "k_out[9]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "k_out[10]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "k_out[11]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "k_out[12]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "k_out[13]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "k_out[14]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "k_out[15]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "ka_out[0]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "ka_out[1]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "ka_out[2]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "ka_out[3]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "ka_out[4]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "ka_out[5]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "ka_out[6]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "ka_out[7]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "ka_out[8]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "ka_out[9]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "ka_out[10]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "ka_out[11]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "ka_out[12]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "ka_out[13]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "ka_out[14]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "ka_out[15]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "ka_out[16]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "ka_out[17]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "ka_out[18]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "ka_out[19]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "ka_out[20]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "ka_out[21]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "ka_out[22]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "ka_out[23]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "leds[0]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "leds[1]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "leds[2]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "leds[3]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "leds[4]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "leds[5]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "leds[6]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "leds[7]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "kdata_io[1]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "kdata_io[2]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "kdata_io[3]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "kdata_io[4]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "kdata_io[5]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "kdata_io[6]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "kdata_io[7]" IO_TYPE=LVCMOS33 ;
LOCATE COMP "xk_clk" SITE "40" ;
LOCATE COMP "xstart_in" SITE "38" ;
LOCATE COMP "xstate[0]" SITE "44" ;
LOCATE COMP "xstate[1]" SITE "42" ;
LOCATE COMP "xstate[2]" SITE "45" ;
LOCATE COMP "k_out[0]" SITE "97" ;
LOCATE COMP "k_out[1]" SITE "98" ;
LOCATE COMP "k_out[2]" SITE "99" ;
LOCATE COMP "k_out[3]" SITE "100" ;
LOCATE COMP "k_out[4]" SITE "104" ;
LOCATE COMP "k_out[5]" SITE "105" ;
LOCATE COMP "k_out[6]" SITE "106" ;
LOCATE COMP "k_out[7]" SITE "107" ;
LOCATE COMP "k_out[8]" SITE "47" ;
LOCATE COMP "k_out[9]" SITE "48" ;
LOCATE COMP "k_out[10]" SITE "49" ;
LOCATE COMP "k_out[11]" SITE "50" ;
LOCATE COMP "k_out[12]" SITE "52" ;
LOCATE COMP "k_out[13]" SITE "54" ;
LOCATE COMP "k_out[14]" SITE "55" ;
LOCATE COMP "k_out[15]" SITE "56" ;
LOCATE COMP "ka_out[0]" SITE "57" ;
LOCATE COMP "ka_out[1]" SITE "58" ;
LOCATE COMP "ka_out[2]" SITE "59" ;
LOCATE COMP "ka_out[3]" SITE "60" ;
LOCATE COMP "ka_out[4]" SITE "61" ;
LOCATE COMP "ka_out[5]" SITE "62" ;
LOCATE COMP "ka_out[6]" SITE "65" ;
LOCATE COMP "ka_out[7]" SITE "67" ;
IOBUF PORT "xk_clk" IO_TYPE=LVCMOS33 ;
IOBUF PORT "xstart_in" IO_TYPE=LVCMOS33 ;
IOBUF PORT "xstate[0]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "xstate[1]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "xstate[2]" IO_TYPE=LVCMOS33 ;
LOCATE COMP "xkdata[0]" SITE "11" ;
LOCATE COMP "xkdata[1]" SITE "12" ;
LOCATE COMP "xkdata[2]" SITE "13" ;
LOCATE COMP "xkdata[3]" SITE "14" ;
LOCATE COMP "xkdata[4]" SITE "19" ;
LOCATE COMP "xkdata[5]" SITE "20" ;
LOCATE COMP "xkdata[6]" SITE "21" ;
LOCATE COMP "xkdata[7]" SITE "22" ;
IOBUF PORT "xkdata[0]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "xkdata[1]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "xkdata[2]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "xkdata[3]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "xkdata[4]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "xkdata[5]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "xkdata[6]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "xkdata[7]" IO_TYPE=LVCMOS33 ;
LOCATE COMP "t_out" SITE "10" ;
IOBUF PORT "t_out" IO_TYPE=LVCMOS33 ;
